 {% load static %}
 {% comment %} {% for doctor in object_list %}
<div class="card mb-3" style="max-width: 100%; max-height: 20%;">
    <div class="row g-0">
        <div class="col-md-4"
            style="background-image: url('{{ doctor.profile_picture.url }}'); background-size: cover; background-repeat: no-repeat;">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{doctor.first_name}} {{doctor.last_name}}</h5>
                <p class="card-text"><small class="text-muted">email: {{doctor.email}}</small></p>
                <a href="{% url 'book_appointment' doctor.pk %}">
                    <p class="btn btn-lg btn-success">Book Appintment</p>
                </a>
            </div>
        </div>
    </div>
</div>
{% endfor %} {% endcomment %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/doctor.css' %}">
</head>
<body>
    
<div class="cards-list">
    {% for doctor in object_list %}
    
    <div class="card 1">
      <div class="card_image"> <img src="{{ doctor.profile_picture.url }}" /> </div>
      <div class="card_title title-white">
        <p>{{doctor.first_name}} {{doctor.last_name}}</p>
      </div>
      <button type="submit" class="center-button">
        <a href="{% url 'book_appointment' doctor.pk %}">Make Appointment</a>
    </button>

    </div>
      {% endfor %}
    </div>

    
</body>
</html>