{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthify</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    /<!-- start header -->
<header class="header">

    <!--   start logo -->
    <a href="#" class="logo">
      <i class="fas fa-tooth"></i>
      Healthify
    </a>
  
    <!--   start navbar -->
    <nav class="navbar">
      <a href="#home">home</a>
      <a href="#about">about</a>
      <a href="#services">services</a>
      <a href="#pricing">pricing</a>
      <a href="#blog">blog</a>
    </nav>
    <!--   end navbar -->
    {% if user.is_authenticated %}
    <a href="" class="btn">make appointment</a>
    <div id="menu-btn" class="fas fa-bars"></div>
  {% endif %}
  </header>
  <!-- end header -->
  <br><br><br><br><br><br><br><br>
  {% block content %}{% endblock content %}
</body>
<script src="script.js"></script>
</html>